<h1>New market</h1>

  <div id="pnl_new_market_info">
    
      <p>A ligeira raposa marrom ataca o cão preguiçoso.</p>
      <p>A ligeira raposa marrom ataca o cão preguiçoso.</p>
      <p>A ligeira raposa marrom ataca o cão preguiçoso.</p>
      <p>A ligeira raposa marrom ataca o cão preguiçoso.</p>
      <p>A ligeira raposa marrom ataca o cão preguiçoso.</p>
      <p>A ligeira raposa marrom ataca o cão preguiçoso.</p>
      <p>A ligeira raposa marrom ataca o cão preguiçoso.</p>
      <p>A ligeira raposa marrom ataca o cão preguiçoso.</p>
      <p>A ligeira raposa marrom ataca o cão preguiçoso.</p>

      <div id="pnl_new_market_info_buttons">
        <input type="button" id="btn_show_frm_new_market" class="ui-state-default ui-corner-all" value="Eu concordo!" />
        <input type="button" id="btn_cancel_frm_new_market" class="ui-state-default ui-corner-all" value="Eu não concordo!" />
      </div>
  </div>
      <div id="frm_new_market" class="ui-helper-hidden">
        <%= render :partial => "form" %>
      </div>

      <div id="pnl_msg_market" >

      </div>