/* 
    Document   : application
    Created on : Aug 26, 2009, 5:39:06 PM
    Author     : lennon
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


  html, body {
    height: 98%;
    background-color: black;
    color: white;
  }

  #page {
    min-height: 98%;
  }

  * html #page {
    height: 98%; /* hack para IE6 que trata height como min-height */
  }


  #page {
    position: relative;
    }

  #footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
  }

  #content {
    padding-bottom: 20px;
  }

  #top {
    background-color: black;
    color: white;
    border-bottom: 1px solid gray;
    padding-bottom: 2px;
  }

  a:link {
    color: blue;
  }

  a:visited {
    color: blue;
  }

  a:hover {
    color: teal;
  }

  a:active {
    color: white;
  }

  #openid_url {
    background-image: url('/images/openid_small_logo_white.gif');
    background-repeat: no-repeat;
    padding-left: 20px;
    width: 150px;
  }