<h1>Listing bookmarks</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Nome</th>
  </tr>

<% @bookmark_items.each do |item| %>
  <tr>
    <td></td>
    <td><%= item.recipe.name   %></td>
    <td><%= link_to 'Show', recipe_path(item.recipe) %></td>
  </tr>
<% end %>
</table>