<p>
  <b>Name:</b>
  <%=h @ingredient.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @ingredient.description %>
</p>

<p>
  <b>Type</b>
  <%=h @ingredient.ingredient_type.name %>
</p>



<%= link_to 'Edit', edit_ingredient_path(@ingredient) %>